@import './base.css';
@import './stars.css';
#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

li {
  list-style: none;
}

#app {
  display: grid;
  grid-template-areas: 
    "h1 h2"
    "content sidebar"
    "footer footer";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px auto 50px;
}

p{
  margin: 10px 0;
}


