@import './base.css';
@import './stars.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  display: grid;
  grid-template-areas: 
    "h1 h2"
    "content sidebar"
    "footer footer";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px auto 50px;
}
p {
  margin: 10px 0;
}
li {
  list-style: none;
}
strong {
  font-weight: bold;
}
a {
  color: #fff;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 2s ease;
}
.fast-enter-active,
.fast-leave-active {
  transition: opacity .5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.fast-enter-from,
.fast-leave-to {
  opacity: 0;
}
button {
  cursor: pointer;
  background: #333035;
  color: var(--vt-c-white-mute);
  padding: 10px;
  border: none;
  border-radius: 3px;
}
button:hover {
  background: #413E44;
}
input[type="text"] {
  background: #413e44;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #181818;
  font-weight: bold;
}